.App {
  text-align: center;
  padding: 1rem;
}

.AppSideBySide {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
}

.AppControls {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

.AppSwitchGraph {
  min-width: 10rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 1rem auto;
}

.AppCtrlsDivider {
  width: 80%;
  border: none;
  border-top: 1px solid #666666;
}

.AppShare {
  min-width: 10rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 1rem auto;
}

@media screen and (min-width: 1024px) {
  .App {
    padding: 4rem;
  }

  .AppSideBySide {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .AppControls {
    padding: 0;
    margin-left: 2rem;
  }
}